<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>TESTTABLE EJS</title>
</head>

<body>
<div class="container">
    <div class="tablo">
        <table>
            <tr>
                <th>id</th>
                <th>Марка</th>
                <th>Модель</th>
                <th>Цвет</th>
                <th>Обьем</th>
                <th>Цена</th>
            </tr>
            <% for(var i=0; i < rows.length; i++) { %>
            <tr>
                <td>
                    <%= rows[i].Клас %>
                </td>
                <td>
                    <%= rows[i].Номер_екіпажу %>
                </td>
                <td>
                    <%= rows[i].model %>
                </td>
                <td>
                    <%= rows[i].color %>
                </td>
                <td>
                    <%= rows[i].capacity %>
                </td>
                <td>
                    <%= rows[i].price %>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    <!-- /.tablo -->
    <form method="POST" type="submit">
        <div class="buttons">
            <input type="button" data-name="AppleButton" value="Apple" id="AppleBtn" onclick="ShowAllApple()">
            <input type="button" value="Samsung" id="SamsungBtn" onclick="ShowAllSamsung()">
            <input type="button" value="Youtube" onclick="window.location.href='http://www.youtube.com'">
            <input type="button" id="btn" value="Google" onclick="window.location.href='http://www.google.com'">
            <input action="action" onclick="window.history.go(-1); return false;" type="button" value="Назад" />
        </div>
        <!-- /.buttons -->
    </form>
</div>
<!-- /.container -->
<script >
    const mysql2 = require('mysql2');
    const express = require("express");

    var ejs = require('ejs');
    var fs = require('fs');
    const app = express();
    const conn = mysql2.createConnection({
        host: '25.22.131.112',
        port: '3306',
        user: 'sergo',
        password: '12345',
        database: 'kursach'
    })
    conn.connect(err => {
        if (err) {
            console.log(err);
            return err;
        }
        else {
            console.log('Connected OK');
        }
    })

    let querry="SELECT * FROM kursach.екіпаж_адміністратор";
    app.get("/", function(request, response) {
        fs.readFile('./index.ejs', 'utf-8', function(err, content) {
            if (err) throw err;
            console.log('Creating the http server');
            // if (ShowAllApple() == true){
            //     sql = "SELECT * FROM new_table where 'Apple' = mark;"
            // } else if (ShowAllSamsung() == true) {
            //     sql = "SELECT * FROM new_table where 'Samsung' = mark;";
            // } else {
            //     sql = "SELECT * FROM new_table;";
            // };
            con.query( querry, function(err, rows, fields) {
                if (err) throw err + console.log("NOT CONNECTED! " + err);
                console.log("Connected!");
                response.writeHead(200, {
                    'Content-Type': 'text/html'
                });
                var renderedHtml = ejs.render(content, {
                    rows: rows
                });
                console.log('Hello from back')
                response.end(renderedHtml);
            });
        });
    });
    app.listen(3000);



</script>
<script>
    // обработчик DOM-елемента
    AppleBtn.onclick = function() {
        alert('Hi from Front');
    };
</script>

</body>

</html>