<!DOCTYPE html>
<html>
<head>
    <title>Адміністратор</title>
    <meta charset="utf-8" />
</head>
<body>
<div class="navbar">
    <div class="navbar__btn__back" ><a href="/" style="color: black">На головну</a></div>
</div>
<h1>Адміністратор аеропорта</h1>
<div class="zapyt">
    <p><a href="/Ekipag_A">Екіпаж</a></p>
    <p><a href="/Litak_A">Літак</a></p>
    <p><a href="/Pasazhyr_A">Пасажир</a></p>
    <p><a href="/Aviakompaniya_A">Авіакомпанія</a></p>
    <p><a href="/Bilet_A">Білет</a></p>
    <p><a href="/Rays_A">Рейс</a></p>
    <p><a href="/Aeroport_A">Аеропорт</a></p>
    <p><a href="/Marshrut_A">Маршрут</a></p>
</div>
</body>

<script>

</script>

<style>
    body{
        padding: 0;
        margin: 0;
    }

    .navbar {
        height: 50px;
        background-color: #eff1f9;
        color: black;
        display: flex;
        align-items: center;
        padding: 0 15px;
    }
    .navbar__btn__back {
        font-size: 18px;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
    h1 {
        text-align: center;
        color: black;
        font-size: 50px;
        font-family: Calibri, serif;
    }
    .zapyt {
        display: block;
        text-align: center;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        color: white;
        background-color: #79bd01;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;

        border-radius: 12px;
        cursor: pointer;
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    a {
        font-size: 25px;
        font-family: Calibri, serif;
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
    }
</style>
<html>