<!DOCTYPE html>
<html>
<head>
    <title>Авіатермінали Пасажир</title>
    <meta charset="utf-8" />
</head>
<body>
<div class="search">
    <label>
        <input class="search_input" type="text" name="content" placeholder="Стійки паспортного контроля(шт)">
        <input class="search_input" type="text" name="content2" placeholder="Стійки реєстрації(шт)">
        <input type="button" value="Найти" onclick="search_generate_url('Aviaterminal_P')">
    </label>
</div>

<h1>Авіатермінали Пасажир</h1>

<p><a href="/">На головну</a></p>
<table>
    <tr><th>Індентифікатор</th>
        <th>Оператор</th>
        <th>Стійки реєстрації</th>
        <th>Стійки паспортного контроля</th>
    {{#each users}}
        <tr>
            <td>{{this.Індентифікатор}}</td>
            <td>{{this.Оператор}}</td>
            <td>{{this.Стійки_реєстрації}}</td>
            <td>{{this.Стійки_паспортного_контроля}}</td>
        </tr>
    {{/each}}
</table>
</body>
<script>
    function search_generate_url(type) {
        let search_content = document.getElementsByName('content')[0].value
        let search_content2 = document.getElementsByName('content2')[0].value
        let url = '/' + type + '/' + search_content+ '/' + search_content2;
        location.assign(url);
    }
</script>
</html>