<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<h1>Добавление пользователя</h1>
<form method="POST">
    <label>Назва таблиці</label><br>
    <input name="table" class="field"/><br><br>
    <label>Назва стовпця</label><br>
    <input name="value1" class="field" /><br><br>
    <input name="value2" class="field" /><br><br>
    <input name="value3" class="field" /><br><br>
    <input name="value4" class="field" /><br><br>
    <input name="value5" class="field" /><br><br>
    <input name="value6" class="field" /><br><br>
    <input name="value7" class="field" /><br><br>
    <label>Значення стовпця</label><br>
    <input name="data1" class="field" /><br><br>
    <input name="data2" class="field" /><br><br>
    <input name="data3" class="field" /><br><br>
    <input name="data4" class="field" /><br><br>
    <input name="data5" class="field" /><br><br>
    <input name="data6" class="field" /><br><br>
    <input name="data7" class="field" /><br><br>
    <input type="submit" value="Отправить" />
</form>
<a href="/create">К списку пользователей</a>
</body>
<html>