<!DOCTYPE html>
<html>
<head>
    <title>Видалення запису</title>
    <meta charset="utf-8" />
    <link href="/style_zapyt.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar">
    <div><a class="navbar__btn__back" href="/">Головна</a></div>
</div>
<h1>Видалення запису</h1>
<form method="POST" class="create">
    <label>Вкажіть назву таблиці</label><br><br>
    <input name="table" class="field"placeholder="Назва таблиці"/><br><br>
    <label>Введіть необхідні данні</label><br><br>
    <input name="value1" class="field" placeholder="Назва стовпця"/> <input name="data1" class="field" placeholder="Значення стовпця"/><br><br>
    <input name="value2" class="field" placeholder="Назва стовпця"/> <input name="data2" class="field" placeholder="Значення стовпця"/><br><br>
    <input type="submit" value="Записати" />
</form>

</body>
<html>