<!DOCTYPE html>
<html>
<head>
    <title>Екіпаж Пасажир</title>
    <meta charset="utf-8" />
    <link href="/style_zapyt.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar">
    <div><a class="navbar__btn__back" href="/Pasazhyr">Назад</a></div>
</div>
<h1>Екіпаж Пасажир</h1>
<div class="search">
    <input class="search_input" type="text" name="content" placeholder="Кількість вильотів">
    <input class="search_input" type="text" name="content2" placeholder="Стаж">
    <input type="button" value="Найти" onclick="search_generate_url('Ekipag_P')">
</div>
<table>
    <tr><th>ПІБ</th>
        <th>Посада</th>
        <th>Кількість вильотів</th>
        <th>Стаж</th>
    {{#each users}}
        <tr>
            <td>{{this.ПІБ}}</td>
            <td>{{this.Посада}}</td>
            <td>{{this.Кількість_вильотів}}</td>
            <td>{{this.Стаж}}</td>
        </tr>
    {{/each}}
</table>
</body>
<script>
    function search_generate_url(type) {
        let search_content = document.getElementsByName('content')[0].value
        let search_content2 = document.getElementsByName('content2')[0].value
        let url = '/' + type + '/' + search_content+ '/' + search_content2;
        location.assign(url);
    }
</script>
</html>