<!DOCTYPE html>
<html>
<head>
    <title>Аеропорт</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="navbar"></div>
    <img src="assets/plane.png">
    <h1>Аеропорт</h1>
    <div class="zapyt">
        <a href="/Admin">Адміністратор</a>
        <a href="/Pasazhyr">Пасажир</a>
        <a href="/create" style="background-color: grey; color: black">Додати новий запис</a>
    </div>
<div class="footer">
    <div style="margin-left: 15px; margin-right: 15px">Програму розроблено студентами групи 3КН-19Б Вербою Ганною Романівною та Щуром Сергієм Андрійовичем</div>
    <div style="margin-right: 15px;margin-left:auto; text-align: right">VNTU 2022</div>
</div>

</body>
<style>
    img{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: 30%;
        padding-top: 20px;
    }
    body{
        padding: 0;
        margin: 0;
    }
    .navbar {
        height: 50px;
        background-color: #eff1f9;
        color: black;
        display: flex;
        align-items: center;
        padding: 0 15px;
    }
    .footer {
        height: 50px;
        background-color: #eff1f9;
        color: black;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-family: URW Chancery L, cursive;
        font-size: 18px;
        /*font-weight: bold;*/
    }
    h1 {
        text-align: center;
        color: black;
        font-size: 60px;
        font-family: Calibri, serif;
        margin-bottom: 15px;
        margin-top: 0;
    }
    .zapyt {
        display: block;
        text-align: center;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        color: white;
        background-color: #79bd01;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        border-radius: 12px;
        cursor: pointer;
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        font-family: Calibri, serif;
        font-weight: bold;
        text-decoration: none;
    }
</style>
<html>