<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Список пользователей</h1>
<p><a href="/create">Добавить пользователя</a></p>
<p><a href="/Ekipag_A">екіпаж_адміністратор</a></p>
<div>

</div>
<table>
    <tr><th>Name</th><th>Age</th><th></th></tr>
    {{#each users}}
        <tr>
            <td>{{this.Марка_літака}}</td>
            <td>{{this.Номер_літака}}</td>
            <td>
                <a href="/edit/{{this.Номер_літака}}">Edit</a>|
                <form action="delete/{{this.Номер_літака}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    {{/each}}
</table>
</body>
<script>

</script>
<html>