<!DOCTYPE html>
<html>
<head>
    <title>Пасажир</title>
    <meta charset="utf-8" />
</head>
<body>
<div class="navbar">
    <div><a class="navbar__btn__back" href="/">На головну</a></div>
</div>
<h1>Пасажир Аеропорта</h1>
<div class="zapyt">
    <a href="/Ekipag_P">Екіпаж</a>
    <a href="/Aviaterminal_P">Авіатермінали</a>
    <a href="/Aeroport_P">Аеропорт</a>
    <a href="/Rays_P">Рейс</a>
    <a href="/Kvutok_P">Квиток</a>
    <a href="/Taryf_Pasazhyr_P">Тарифи для пасажирів</a>
    <a href="/Taryf_Tvaryna_P">Тарифи на перевезення тварин</a>
    <a href="/Litak_P">Літак</a>
</div>
</body>

<script>

</script>

<style>
    body{
        padding: 0;
        margin: 0;
    }
    .navbar {
        height: 50px;
        background-color: #eff1f9;
        color: black;
        display: flex;
        align-items: center;
        padding: 0 15px;
    }
    .navbar__btn__back {
        padding: 0;
        font-size: 25px;
        width: 100%;
        cursor: pointer;
        display: flex;
        color: black; background-color: #eef0f8;
    }
    h1 {
        text-align: center;
        color: black;
        font-size: 50px;
        font-family: Calibri, serif;
    }
    .zapyt {
        display: block;
        text-align: center;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        color: white;
        background-color: #79bd01;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        border-radius: 12px;
        cursor: pointer;
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        font-family: Calibri, serif;
        font-weight: bold;
        text-decoration: none;
    }
</style>
<html>